#headline {
  color: rgb(255,99,71);
  font-size: 64px;
  font-family: sans-serif;
  font-weight: bold;
}

#carousel {
  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
}

.normal {
  font-size: 16px;
  font-family: sans-serif
}

.italic {
  font-weight: bolder;
  font-style: italic;
  font-size: 16px;
  font-family: sans-serif

}

.flaticon {
    width:10px;
}

.btn-primary {
  color: #fff;
  background-color: rgb(255,99,71);
  border-color: #000000;
}

.btn-lg.round {
	border-radius: 24px;
}

nav {
    margin: 60px 0;
    text-align: right;
}

a {
  font-weight: bold;
  color:black;
  font-size: 16px;
  font-family: sans-serif;
}

.flaticon{
  width: 256px;
}

#cart {
    position: relative;
    left: 150px
}

#nav-middle {
  position: relative;
  right: 150px;
}

.panel-margin{
  margin-top: 30px;
}

body{
 padding-top: 30px;
}
.gallery-container{
 padding: 4px;


}
.outerContent{
 float: left;
 position: relative;

}
.innerContent{
 position: absolute;
 left: 3px;
 right:3px;
 top: 3px;
 bottom: 3px;
 border: 1px solid #d3d3d3;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}
@media(max-width:767px){
 .outerContent{
   padding-bottom: 33.33%;
 }
}
@media(min-width:768px){
 .outerContent{
   padding-bottom: 25%;
 }
}
@media(min-width:992px){
 .outerContent{
   padding-bottom: 16.66%;
 }
}
.innerContent:hover {
 border-color: #4863a0;
 transition: 0.4s;
}

#backarrow {
  height: 5%;
  width: 5%;
}
